.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

.header-title {
  text-align: center;
  font-family: 'Plaster', cursive;
  /*font-family: 'Montserrat Subrayada', sans-serif;*/
  font-size: 20px;
}


.view-buttons {
  margin: 15px;
  padding: 10px;
  font-size: 20px;
  border-radius: 2px;
  color: white;
  border: 1px solid rgb(255, 82, 82);
  transition-duration: 0.4s;
  font-family: 'Raleway', sans-serif;

}

.view-buttons:hover {
  background-color: rgb(255, 82, 82);
  cursor: pointer;
}

.images{
  max-width: 40%;
   font-family: Courier New, Courier, monospace;
}

.list-view{
  list-style: none;

}

/*.bottom-list-item {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-bottom: 2px, solid, black;
}*/

.image-caption{
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
}



