.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

.header-title {
  text-align: center;
  font-family: 'Raleway';
}

.view-buttons {
  margin: 15px;
  font-size: 20px;
  border-radius: 4px;
  color: white;
  border: 2px solid rgb(255, 82, 82);
  transition-duration: 0.4s;

}

.view-buttons:hover {
  background-color: rgb(255, 82, 82);
  cursor: pointer;
}

.images{
  max-width: 50%
}

.list-view{
  list-style: none;
}


